<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            {{#if note}}<h3>{{note.title}}</h3>{{/if}}
            {{#if note}}<p>{{note.body}}</p>{{/if}}
        </div>
    </div>
    {{#if notekey}}
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group">
                <a href="/notes/destroy?key={{notekey}}" class="btn btn-outline-dark">Delete</a>
                <a href="/notes/edit?key={{notekey}}" class="btn btn-outline-dark">Edit</a>
            </div>
        </div>
    </div>
    {{/if}}
</div>